vti_encoding:SR|utf8-nl
vti_author:SR|TAFESA\\000907349
vti_modifiedby:SR|RU-PC\\RU
vti_timelastmodified:TR|03 Apr 2013 13:57:38 -0000
vti_timecreated:TR|13 Mar 2013 22:58:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Pages/Homepage.html Pages/information.html DWT/breaky.dwt index.html Pages/helppage.html Pages/contact.html pages/preferences.html
vti_nexttolasttimemodified:TW|03 Apr 2013 13:55:57 -0000
vti_cacheddtm:TX|03 Apr 2013 13:57:38 -0000
vti_filesize:IR|1574
vti_cachedlinkinfo:VX|S|../Images/Lengyel\\ 94\\ rushnyk\\ bright\\ colors\\ brod\\ angl.jpg S|../Images/imagesCA5R9RAE.jpg
vti_cachedsvcrellinks:VX|FSUS|Images/Lengyel\\ 94\\ rushnyk\\ bright\\ colors\\ brod\\ angl.jpg FSUS|Images/imagesCA5R9RAE.jpg
